@model HTTP5101_Assignment3_n01454046.Models.Student

@{
    ViewBag.Title = "Show";
}




<div id="containershow">
    <h2 class="teacherName"> @Model.StudentFname @Model.StudentLname  </h2>
    <p class="listP">
        This page shows more detail about one Student.
    </p>
    <p class="teacherMoreInfo">
        Student Id: @Model.StudentId
    </p>
    <p class="teacherMoreInfo">
        Student Number: @Model.StudentNumber
    </p>
    <p class="teacherMoreInfo">
        Student Enrol Date: @Model.StudentEnrolDate
    </p>
 
    <a class="navlink" href="/Student/List"> Back To Students </a>
</div>